# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node.js dependencies
node_modules/

# Firebase emulator data
firebase-debug.log
firestore-debug.log
ui-debug.log

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

